<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Project PK</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Progress</th>
    </tr>
    {% for project in projects %}
        <tr class="{% cycle 'bg-white' 'bg-grey' %}">
            <td><a href="{% url 'project_code' project.code %}"><strong>{{ project.name }}</strong></a></td>
            <td>{{ project.code }}</td>
            <td><a href="{% url 'project' project.pk %}">{{ project.pk }}</a></td>
            <td>{{ project.description }}</td>
            <td>{{ project.start_date }}</td>
            <td>{{ project.end_date }}</td>
            <td>
                <progress class="progress is-primary" value="{{ project.progress }}" max="100">{{ project.progress }}%
                </progress>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
